:root{
    --var-color-conteudo-consulta: #aeceff;
}

.ajustes-consulta-reserva {
    width: 100%;
    height: 100%;
    margin-top: 14rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}

.conteudo-consulta-reserva {
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
    margin-inline: 10em;
}

.grid-cons-reserva {
    display: flex;
    margin-inline: 20em;
    background-color: #003681;
    border-radius: 20px;
    /* position: fixed; */
    padding: 10px 10px 10px 10px;
}

.titulo-consulta-reserva {
    margin-left: -28em;
    color: #ffffff;
}

.select-consulta-reserva {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 50%;
    margin: 6px 0px;
    margin-left: 20px;
    border-radius: 10px;
    border-style: none;
    font-weight: bolder;
}

.inputs-data-reserva {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 36%;
    margin: 1px 20px;
    border-radius: 10px;
    border-style: none;
}
.inputs-data-reserva::placeholder {
    color: black;
    font-weight: 600;
}
.inputs-data-reserva:disabled{
    color: #000000;
    background-color: rgb(92, 92, 92);
    font-weight: 600;
}

.inputs-consulta-reserva {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 100%;
    margin: 1px 0px;
    margin-left: 20px;
    border-radius: 10px;
    border-style: none;
}
.inputs-consulta-reserva::placeholder {
    color: black;
    font-weight: 600;
}
.inputs-consulta-reserva:disabled {
    color: black;
    background-color: rgb(92, 92, 92);
    font-weight: 600;
}

.botao-consulta-reserva {
    font-size: large;
    background-color: #95bfff;
    color: #001f4b;
    border-radius: 10px;
    width: 20em;
    margin: 0px 0px 0px 18px;
    transition: 0.2s;
    font-weight: bolder;
    cursor: pointer;
}
.botao-consulta-reserva:hover {
    transition: 0.2s;
    background-color: #001636;
    color: #95bfff;
}
.botao-consulta-reserva.disabled-hover {
    pointer-events: none;
}

.botao-limpa-filtro {
    font-size: large;
    background-color: #ff9595;
    color: #990000;
    border-radius: 10px;
    width: 7em;
    margin: 0px 0px 0px 18px;
    transition: 0.2s;
    font-weight: bolder;
    cursor: pointer;
}
.botao-limpa-filtro:hover {
    transition: 0.2s;
    background-color: #990000;
    color: #ff9595;
}

.tabela {
    background-color: #003d99;
    border-radius: 10px;
    padding: 6px 10px 10px 10px;
    display: flex;
    /* width: 1024px; */
    flex-direction: column;
    margin-inline: -8em;
    margin-top: 25px;
    max-height: 460px;
    overflow-y: auto;
}

/* .tabela thead{
    /* position: fixed;
    background-color: #003d99;
    border-radius: 10px;
    padding: 10px;
    width: 920px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-inline: -6em; */
    /* margin-top: 25px; */
    /* max-height: 450px;
    overflow-y: auto;
} */

.tabela::-webkit-scrollbar {
    padding-left: 70px;
    width: 8px;
    right: 10px;
}

.tabela::-webkit-scrollbar-track {
    background: #003d99;
    border-radius: 10px;
}

.tabela::-webkit-scrollbar-thumb {
    background: #89baff;
    border-radius: 10px;
}

.tabela::-webkit-scrollbar-thumb:hover {
    background: #4b4b4b;
}

.tabela thead th {
    background-color: #003077;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* .cabecalho {
    background-color: #003077;
    color: white;
    border-radius: 10px;
} */

.colunas-cabecalho {
    border-radius: 10px 10px 10px 10px;
    padding: 8px;
}

.colunas-body {
    border-radius: 10px 10px 10px 10px;
    padding: 6px;
    width: 150px;
    position: relative;
    background-color: #aeceff;
}

#info-cabecalho{
    background-color: #003d9900;
}

.colunas-body-status {
    border-radius: 10px 10px 10px 10px;
    padding: 10px 28px 10px 28px;
    background-color: #aeceff;
}

.colunas-body-button {
    border-radius: 10px 10px 0px 0px;
    padding: 6px;
    /* background-color: #003d99; */
}

.colunas-body-selection{
    border-radius: 10px 10px 10px 10px;
    padding: 4px;
    background-color: #4dff6a;
}

.input-selection{
    background-color: #4dff6a;
    padding: 10px;
    font-size: small;
    border-radius: 10px 10px 10px 10px;
}

.dropdown-selection{
    background-color: #4dff6a;
    padding: 10px 0px;
    font-size: small;
    border-radius: 10px 10px 10px 10px;
}

.button-coluna-body{
    background-color: #aeceff;
}
.button-coluna-body:hover{
    cursor: pointer;
}

.button-coluna-body-selection{
    background-color: #4dff6a;
}
.button-coluna-body-selection:hover{
    cursor: pointer;
}

.btn-editar{
    background-color: #ffbb00;
    cursor: pointer;
    border-radius: 10px;
    width: 30px;
    font-weight: 600;
    font-size: medium;
    padding: 6px;
    transition: 0.2s;
}.btn-editar:hover {
    background-color: rgb(228, 156, 0);
    color: #adffad;
}

.btn-info{
    background-color: #d5e2ff;
    cursor: pointer;
    border-radius: 14px;
    width: 30px;
    font-weight: 600;
    font-size: medium;
    padding: 6px;
    margin-right: 2px;
    transition: 0.2s;
}.btn-info:hover {
    background-color: #2b3f6b;
    color: #adffad;
}

.btn-salvar{
    background-color: rgb(0, 255, 0);
    cursor: pointer;
    border-radius: 10px;
    width: 30px;
    font-weight: 600;
    font-size: medium;
    padding: 6px;
    transition: 0.2s;
}.btn-salvar:hover {
    background-color: rgb(0, 180, 0);
    color: #adffad;
}

.btn-cancelar-edicao{
    background-color: rgb(255, 33, 33);
    cursor: pointer;
    border-radius: 10px;
    width: 30px;
    font-weight: 600;
    font-size: medium;
    padding: 6px;
    transition: 0.2s;
    margin-right: 5px;
}.btn-cancelar-edicao:hover {
    background-color: rgb(180, 0, 0);
    color: #ffc1c1;
}
.btn-remover{
    background-color: rgb(255, 33, 33);
    cursor: pointer;
    border-radius: 10px;
    width: 30px;
    font-weight: 600;
    font-size: medium;
    padding: 6px;
    transition: 0.2s;
    margin-left: 5px;
}.btn-remover:hover {
    background-color: rgb(180, 0, 0);
    color: #ffc1c1;
}

.delete {
    width: 400px;
    background: #e26868;
    border-radius: 25px;
    border-width: 4px;
    border-style: solid;
    border-color: #ff0000;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.delete-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-body {
    text-align: center;
}

.success {
    width: 300px;
    background: #68e278;
    border-radius: 25px;
    border-width: 4px;
    border-style: solid;
    border-color: #00ff00;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.success-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-body {
    text-align: center;
}

.delete-button-group {
    margin-top: 20px;
}

.delete button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete button:nth-child(2) {
    background-color: #b30000;
    color: #fff;
}

.delete button:nth-child(2):hover {
    background-color: #b30000c4;
    color: #fff;
}

.delete button:nth-child(1) {
    background-color: #e6e6e6;
}

.delete button:nth-child(1):hover {
    background-color: #ffffff;
}

.buttons-actions {
    display: flex;
    flex-direction: row;
}

.message-alert-cons-reserva{
    color: #ff9100;
    font-weight: bold;
    font-size: medium;
    padding-top: 5px;
    margin-bottom: -28px;
}

.message-error-cons-reserva{
    color: #ff0000;
    font-weight: bold;
    font-size: medium;
    padding-top: 5px;
    margin-bottom: -28px;
}