.informacoes-materiais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-top: 2em;
    margin-inline: 14em;
    border-radius: 20PX;
    background-color: #7eb4ff;
    box-shadow: 0px 0px 20px #000000;
    transition: 0.2s;
}.informacoes-materiais:hover {
    background-color: #b8d6ff;
}

.informacoes-materiais-selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-top: 2em;
    margin-inline: 20em;
    border-radius: 20PX;
    background-color: #4dff6a;
    box-shadow: 0px 0px 20px #000000;
    transition: 0.2s;
}

.consulta-materiais {
    flex-direction: row;
    border-radius: 12px;
    color: white;
    background-color: #09264e;
    margin-inline: 50px;
    padding: 14px;
}
.button-add-rem{
    background-color: #09264e;
    color: #FFFFFF;
    font-size: 16px;
}
.button-add-rem:hover{
    cursor: pointer;
}

.mov-materiais{
    display: flex;
    width: 140px;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.input-mov-materiais{
    background-color: #b6ffc2;
    border-radius: 10px;
    width: 62px;
    height: 40px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.button-cancel-addrem{
    background-color: #FF0000;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.button-cancel-addrem:hover{
    background-color: #a10000;
    cursor: pointer;
}

.button-save-addrem{    
    width: 30px;
    height: 30px;
    background-color: #00ff00;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.button-save-addrem:hover{
    background-color: #0da100;
    cursor: pointer;
}

.gravar-alert-materiais {
    width: 400px;
    background: #72d493;
    border-radius: 25px;
    border-width: 4px;
    border-style: solid;
    border-color: #00ff00;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.gravar-alert-materiais-neg {
    width: 400px;
    background: #d47272;
    border-radius: 25px;
    border-width: 4px;
    border-style: solid;
    border-color: #ff0000;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.gravar-alert-materiais-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gravar-alert-materiais-body {
    text-align: center;
}

.gravar-alert-materiais-button-group {
    margin-block: 20px;
}

.gravar-alert-materiais button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gravar-alert-materiais button:nth-child(2) {
    background-color: #b30000;
    color: #fff;
}

.gravar-alert-materiais button:nth-child(2):hover {
    background-color: #ff0000;
    color: #fff;
}

.gravar-alert-materiais button:nth-child(1) {
    background-color: #e6e6e6;
}

.gravar-alert-materiais button:nth-child(1):hover {
    background-color: #ffffff;
}

.gravar-alert-materiais-neg button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gravar-alert-materiais-neg button:nth-child(2) {
    background-color: #b30000;
    color: #fff;
}

.gravar-alert-materiais-neg button:nth-child(2):hover {
    background-color: #ff0000;
    color: #fff;
}

.gravar-alert-materiais-neg button:nth-child(1) {
    background-color: #e6e6e6;
}

.gravar-alert-materiais-neg button:nth-child(1):hover {
    background-color: #ffffff;
}

