.informacoes-sala {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-top: 2em;
    margin-inline: 6em;
    border-radius: 20PX;
    background-color: #7eb4ff;
    box-shadow: 0px 0px 20px #000000;
    transition: 0.2s;
}.informacoes-sala:hover {
    background-color: #b8d6ff;
}

.consulta-sala {
    flex-direction: row;
    border-radius: 12px;
    color: white;
    background-color: #09264e;
    margin-inline: 50px;
    padding: 14px;
}