:root {
    --cor-fundo: #C6D7EE;
}

.header-inst {
    background-color: #0E1826;
    box-shadow: 0px 0px 30px;
    width: 100%;
}

.logo-branco {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.resized-logo {
    width: 190px;
}

.menu-button {
    background-color: #C6D7EE;
    border: none;
    color: #0E1826; /* Cor do texto do botão */
    cursor: pointer;
    margin: 11.4px;
    margin-right: 20px;
    padding: 12px 14px;
    border-radius: 50px 50px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
}

.menu-button:hover {
    background-color: #eee;
    transition: 0.5s;
}

.menu {
    position: absolute;
    top: 70%;
    right: 0;
    background-color: #0E1826;
    transform: translateY(10%) translateX(-10px);
    opacity: 0;
    padding: 10px 40px;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

}

.menu.visible {
    background-color: #0E1826;
    color: #C6D7EE;
    padding: 10px 30px;
    padding-right: 50px;
    opacity: 1;
    visibility: visible;
}

ul li {
    list-style: none;
    padding: 10px;
}

.inst-home {
    width: 100%;
    height: 93.2vh;
    background-color: var(--cor-fundo);
    position: fixed;
    z-index: -1;
}

.body-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area-cadastro {
    background-color: #0E1826;
    text-align: center;
    width: 60%;
    height: 65vh;
    margin-top: 2%;
    border-radius: 20px;
    display: flex;
    grid-template-columns: auto 1fr;
    align-items: center;
    flex-direction: row;
    gap: 18px;
    box-shadow: 0px 0px 20px;
}

.voltaHome {
    position: relative;
    top: 42px;
    padding: 10px 15px;
    background-color: #004fbd;
    border-radius: 10px;
    transition: 0.2s;
}
.voltaHome:hover {
    transition: 0.2s;
    background-color: #002d6b;
    color: #000000;
}

.icon-container {
    margin-top: 66px;
    margin-right: 280px;
    margin-left: 100px;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}

.large-icon {
    font-size: 20em; /* Tamanho do ícone */
}

.titulo-Inst {
    color: #d6e7ff;
    font-size: xx-large;
    position: relative;
    top: 110px;
    text-align: center;
    font-weight: bold;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.inputs-inst {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 130%;
    margin: 6px 0px;
    border-radius: 10px;
    border-style: none;
}

.titulo-inputs {
    color: #d6e7ff;
    margin-right: 110px;
    margin-top: 10px;
    padding-left: 10px;
    text-align: justify;
}

.ajustes {
    margin-top: 80px;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}

.botao {
    font-size: large;
    background-color: #2A78E4;
    color: #d6e7ff;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    margin-top: 30px;
    margin-right: 140px;
    transition: 0.2s;
    font-weight: bolder;
}
.botao:hover {
    transition: 0.2s;
    background-color: #002d6b;
    color: #d6e7ff;
}
