:root {
    --cor-fundo: #C6D7EE;
}

.body-home {
    width: 100%;
    height: 93.2vh;
    background-color: var(--cor-fundo);
    position: fixed;
    z-index: -1;
}

.grid-principal {
    display: flex;
    justify-content: center;
    margin: 60px;
}

.item-da-grid {
    background-color: #19293f;
    padding: 340px 170px;
    margin: 10px 64px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0px 0px 20px;
    transition: 0.2s;
}
.item-da-grid:hover{
    background-color: #2d486d;
}


.interior {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: -260px;
}
