.select-bloco {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 80%;
    margin: 6px 0px;
    display: flex;
    border-radius: 10px;
    border-style: none;
    font-weight: bolder;
}

.input-bloco {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 90%;
    margin: 6px 0px;
    display: flex;
    border-radius: 10px;
    border-style: none;
    font-weight: bolder;
}

.titulo-inputs-bloco {
    color: #d6e7ff;
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
}

.Ajustes {
    margin-top: 80px;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.botao {
    font-size: large;
    background-color: #2A78E4;
    color: #d6e7ff;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    margin-top: 30px;
    margin-right: 140px;
    transition: 0.2s;
    font-weight: bolder;
}
.botao:hover {
    transition: 0.2s;
    background-color: #002d6b;
    color: #d6e7ff;
}

.adiciona-polo {
    font-size: large;
    background-color: #007226;
    color: #d6e7ff;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    transition: 0.2s;
    font-weight: bolder;
}
.adiciona-polo:hover {
    transition: 0.2s;
    background-color: #09ff5b;
    color: #00581d;
}