.select-bloco {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 70%;
    margin: 6px 0px;
    display: flex;
    border-radius: 10px;
    border-style: none;
    font-weight: bolder;
}

.input-bloco {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 70%;
    margin: 6px 0px;
    display: flex;
    border-radius: 10px;
    border-style: none;
    font-weight: bolder;
}

.titulo-inputs-bloco {
    color: #d6e7ff;
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
}

.titulo-inputs-bloco-error {
    color: #FF0000;
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
}

.ajustes-bloco {
    margin-top: 80px;
    width: 70%;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}

.message-bloco-success{
    color: #09ff5b;
    font-weight: bold;
    font-size: medium;
    padding-top: 5px;
    margin-bottom: -10px;
}

.message-bloco-error{
    color: #ff0000;
    font-weight: bold;
    font-size: medium;
    padding-top: 5px;
    margin-bottom: -10px;
}

.botao-bloco {
    font-size: large;
    background-color: #007226;
    color: #d0ffe0;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    margin-top: 30px;
    transition: 0.2s;
    font-weight: bolder;
    cursor: pointer;
}
.botao-bloco:hover {
    transition: 0.2s;
    background-color: #09ff5b;
    color: #00581d;
}

.text-error-button-bloco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}