:root {
    --cor-fundo: #C6D7EE;
}

.materiais-home {
    width: 100%;
    height: 93.2vh;
    background-color: var(--cor-fundo);
    position: fixed;
    z-index: -1;
}

.materiais-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro-materiais {
    display: flex;
    flex-direction: column;
    background-color: #00183a;
    width: 865px;
    height: 70vh;
    margin-right: 3%;
    margin-top: -20px;
    padding-top: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 20px;
}

.voltaHome {
    position: relative;
    top: 28px;
    padding: 10px 22px;
    background-color: #004fbd;
    border-radius: 10px;
    transition: 0.2s;
    font-weight: 700;
    cursor: pointer;
}
.voltaHome:hover {
    transition: 0.2s;
    background-color: #002d6b;
    color: #000000;
}

.vaiConsulta {
    position: relative;
    top: 28px;
    padding: 10px 15px;
    background-color: #004fbd;
    border-radius: 10px;
    transition: 0.2s;
    margin-left: 800px;
    font-weight: 700;
    cursor: pointer;
}
.vaiConsulta:hover {
    transition: 0.2s;
    background-color: #002d6b;
    color: #000000;
}

.body-content{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
}

.icon-container-materiais {
    margin-top: 66px;
    margin-right: 280px;
    margin-left: 150px;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}

.large-icon {
    font-size: 20em; /* Tamanho do ícone */
}

.titulo-materiais-div{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -10px;
}

.titulo-materiais {
    color: #ffffff;
    font-size: xx-large;
    position: relative;
    text-align: center;
    font-weight: bold;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.body-content-form{
    display: flex;
    flex-direction: row;
    width: 875px;
}

.icon-content{
    font-size: 13em;
    color: #d6e7ff;
    animation: slide-in 1s ease forwards;
    width: 432.5px;
    height: 60vh;
    padding-top: 100px;
    padding-left: 140px;
}

.ajustes-materiais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slide-in 1s ease forwards;
    width: 432.5px;
    height: 60vh;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}

.titulo-inputs-materiais {
    color: #ffffff;
    margin-top: 12px;
    text-align: justify;
    padding-left: 5px;
}

.titulo-inputs-materiais-error {
    color: #ff0000;
    margin-top: 12px;
    text-align: justify;
    padding-left: 5px;
}

.inputs-materiais {
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 12px 10px;
    border-radius: 10px;
    border-style: none;
    width: 250px;
    background-color: #d6e7ff;
    margin-bottom: 10px;
}

.inputs-materiais::placeholder{
    color: #002d6b;
}

.descricao-materiais {
    background-color: #00183a;
    width: 510px;
    height: 70vh;
    margin-top: -20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px;
    flex-direction: column;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}
.search-descricao{
    margin-top: 10px;
    padding: 12px 10px;
    border-radius: 10px;
    border-style: none;
    width: 250px;
    background-color: #d6e7ff;
}

.search-descricao::placeholder{
    color: #002d6b;
}

.header-descricao{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 25px;
    animation: slide-in 1s ease forwards;
}

.content{
    display: flex;
    flex-direction: column;
    width: 470px;
    align-items: center;
    height: 60vh;
    max-height: 50vh;
    overflow-y: auto;
    animation: slide-in 1s ease forwards;
    padding-right: 5px;
    margin-right: 7px;
}

.content::-webkit-scrollbar {
    padding-left: 70px;
    width: 8px;
    right: 10px;
}

.content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
    background: #2a77e4;
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
    background: #0000009f;
}
.material-item{
    color: white;
    margin-bottom: 10px;
    align-content: center;
}

.titulo-descricao-materiais {
    position: relative;
    text-align: center;
    margin-top: -25%;
    font-size: x-large;
    color: white;
    font-weight: bold;
}

.botao-materiais {
    font-size: large;
    background-color: #007226;
    color: #d0ffe0;
    border-radius: 8px;
    width: 140px;
    height: 40px;
    margin-top: 22px;
    transition: 0.1s;
    font-weight: bolder;
}
.botao-materiais:hover {
    transition: 0.2s;
    background-color: #09ff5b;
    color: #007226;
}

.error-materiais {
    font-size: large;
    background-color: #720000;
    color: #ffd0d0;
    border-radius: 8px;
    width: 210px;
    height: 40px;
    margin-top: 38px;
    transition: 0.1s;
    font-weight: bolder;
}

.message-materiais-success{
    color: #09ff5b;
    font-weight: bold;
    font-size: medium;
    padding-top: 5px;
    margin-bottom: -10px;
}

.message-materiais-error{
    color: #ff0000;
    font-weight: bold;
    font-size: medium;
    padding-top: 5px;
    margin-bottom: -10px;
}

.gravar-alert {
    width: 300px;
    background: #72d493;
    border-radius: 25px;
    border-width: 4px;
    border-style: solid;
    border-color: #00ff00;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.gravar-alert-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gravar-alert-body {
    text-align: center;
}

.gravar-alert-button-group {
    margin-top: 20px;
}

.gravar-alert button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gravar-alert button:nth-child(2) {
    background-color: #b30000;
    color: #fff;
}

.gravar-alert button:nth-child(2):hover {
    background-color: #ff0000;
    color: #fff;
}

.gravar-alert button:nth-child(1) {
    background-color: #e6e6e6;
}

.gravar-alert button:nth-child(1):hover {
    background-color: #ffffff;
}