:root {
    --cor-fundo: #C6D7EE;
}

.polo-home {
    width: 100%;
    height: 93.2vh;
    background-color: var(--cor-fundo);
    position: fixed;
    z-index: -1;
}

.body-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro-polo {
    background-color: #0E1826;
    text-align: center;
    width: 60%;
    height: 65vh;
    margin-top: 2%;
    border-radius: 20px;
    display: flex;
    grid-template-columns: auto 1fr;
    align-items: center;
    flex-direction: row;
    gap: 18px;
    box-shadow: 0px 0px 20px;
}

.voltaHome-polo {
    position: relative;
    top: 42px;
    padding: 10px 15px;
    background-color: #004fbd;
    border-radius: 10px;
    transition: 0.2s;
}
.voltaHome-polo:hover {
    transition: 0.2s;
    background-color: #002d6b;
    color: #000000;
}

.icon-container-polo {
    margin-top: 66px;
    width: 50%;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}

.large-icon {
    font-size: 20em; /* Tamanho do ícone */
}

.titulo-polo {
    color: #ffffff;
    font-size: xx-large;
    position: relative;
    top: 110px;
    text-align: center;
    font-weight: bold;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.inputs-polo {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 80%;
    margin: 6px 0px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    border-style: none;
}

.inputs-inst-polo {
    background-color: #7c8ca3;
    padding: 10px 10px;
    width: 80%;
    margin: 6px 0px;
    border-radius: 10px;
    text-align: center;
    border-style: none;
}

.disable {
    background-color: #7c8ca3;
    cursor: not-allowed;
}

.titulo-inputs-polo {
    color: #d6e7ff;
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
}

.titulo-inst-polo {
    color: #7c8ca3;
    margin-top: 10px;
    display: flex;
}

.ajustes-polo {
    width: 50%;
    margin-top: 80px;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}

.botao-polo {
    font-size: large;
    background-color: #2A78E4;
    color: #d6e7ff;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    margin-top: 30px;
    margin-right: 140px;
    transition: 0.2s;
    font-weight: bolder;
}
.botao-polo:hover {
    transition: 0.2s;
    background-color: #002d6b;
    color: #d6e7ff;
}
