.inputs-polo {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 80%;
    margin: 6px 0px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    border-style: none;
}

.inputs-inst-polo {
    background-color: #7c8ca3;
    padding: 10px 10px;
    width: 80%;
    margin: 6px 0px;
    border-radius: 10px;
    text-align: center;
    border-style: none;
}

.disable {
    background-color: #7c8ca3;
    cursor: not-allowed;
}

.titulo-inputs-polo {
    color: #d6e7ff;
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
}

.titulo-inst-polo {
    color: #7c8ca3;
    margin-top: 10px;
    display: flex;
}

.ajustes-polo {
    width: 50%;
    margin-top: 80px;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}

.botao-polo {
    font-size: large;
    background-color: #2A78E4;
    color: #d6e7ff;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    margin-top: 30px;
    margin-right: 110px;
    transition: 0.2s;
    font-weight: bolder;
}
.botao-polo:hover {
    transition: 0.2s;
    background-color: #002d6b;
    color: #d6e7ff;
}
