.ajustes-consulta-reserva {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}

.conteudo-consulta-reserva {
    display: flex;
    flex-direction: column;
    margin-top: -18em;
    margin-inline: 10em;
}

.grid-cons-reserva {
    display: flex;
    background-color: #003681;
    border-radius: 20px;
    padding: 10px 10px 9.4px 10px;
}

.titulo-consulta-reserva {
    margin-left: -28em;
    color: #ffffff;
}

.select-consulta-reserva {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 50%;
    margin: 6px 0px;
    border-radius: 10px;
    border-style: none;
    font-weight: bolder;
}

.inputs-data-reserva {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 36%;
    margin: 1px 20px;
    border-radius: 10px;
    border-style: none;
}
.inputs-data-reserva::placeholder {
    color: black;
    font-weight: 600;
}

.inputs-consulta-reserva {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 100%;
    margin: 1px 0px;
    border-radius: 10px;
    border-style: none;
}
.inputs-consulta-reserva::placeholder {
    color: black;
    font-weight: 600;
}

.botao-consulta-reserva {
    font-size: large;
    background-color: #95bfff;
    color: #001f4b;
    border-radius: 10px;
    width: 20em;
    margin: 0px 0px 0px 18px;
    transition: 0.2s;
    font-weight: bolder;
    cursor: pointer;
}
.botao-consulta-reserva:hover {
    transition: 0.2s;
    background-color: #001636;
    color: #95bfff;
}

.tabela {
    background-color: #003d99;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-inline: -6em;
    margin-top: 32px;
}

.cabecalho {
    background-color: #003077;
    color: white;
    border-radius: 10px;
}

.colunas-cabecalho {
    border-radius: 10px 10px 10px 10px;
    padding: 4px;
}

.contudo-tabela {
    background-color: #aeceff;
}

.colunas-body {
    border-radius: 10px 10px 0px 0px;
    padding: 6px;
}

.btn-editar {
    background-color: rgb(255, 187, 0);
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    font-size: medium;
    padding: 6px;
    transition: 0.5s;
}.btn-editar:hover {
    transition: 0.5s;
    background-color: rgb(228, 156, 0);
}
