.header {
    background-color: #00183a;
    box-shadow: 0px 0px 30px;
    width: 100%;
}

.logo-branco {
    max-width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 4px;
}

.logo-branco:hover {
    cursor: pointer;
}

.resized-logo {
    width: 190px;
}


.menu-button {
    background-color: #ffffff;
    border: none;
    color: #001430; /* Cor do texto do botão */
    cursor: pointer;
    margin: 18px;
    margin-right: 20px;
    padding: 12px 28px;
    border-radius: 50px 50px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.4s;
}

.menu-button:hover {
    color: #ffffff;
    background-color: #001430;
    pointer-events: painted;
}

.menu {
    position: absolute;
    top: 8%;
    right: 0;
    background-color: #001531;
    transform: translateY(10%) translateX(-10px);
    opacity: 0;
    padding: 20px 30px 20px 20px;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    border-radius: 0px 0px 14px 14px;
}

.menu.visible {
    background-color: #001531;
    color: #C6D7EE;
    padding: 20px 30px 20px 20px;
    opacity: 1;
    visibility: visible;
}

.logout {
    background: #006eff;
    color: white;
    font-size: large;
    font-weight: 600;
    padding: 14px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s;
}.logout:hover {
    color: black;
    background: #ffffff;
}

ul li {
    list-style: none;
    padding: 10px;
}