.body-home {
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    position: relative;
}

.grid-principal {
    display: flex;
    justify-content: center;
    margin: 60px;
}

.item-da-grid {
    background-color: #00183a;
    padding: 320px 90px;
    margin: 2px 64px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0px 0px 20px;
    transition: 0.2s;
}
.item-da-grid:hover{
    background-color: #00265f;
    transition: 0.2s;
}

.titulos-home {
    font-weight: 500;
    font-size: large;
    margin-top: 18px;
}

.interior {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: -260px;
}

/* Incluindo scroll na tela */
.btn-gerais {
    margin-top: 30px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: -300px
}

.scrollable{
    padding-right: 70px;
    margin-right: -78px;
}

.scrollable::-webkit-scrollbar {
    padding-left: 50px;
    width: 8px;
}

.scrollable::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    background: #2a77e4;
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: #0000009f;
}

.btn {
    display: grid;
    grid-template-columns: auto auto;
    height: 50px;
    width: 220px;
    margin-top: 20px;
    background-color: #0049b6;
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover {
    background-color: #00183a;
    transition: 0.2s;
}

@media (min-width: 769px) and (max-width: 1024px){
    .body-home {
        width: 100%;
        height: 198vh;
        position: relative;
        padding-top: 80px;
        background-color: #C6D7EE;
    }
    .grid-principal {
        display: contents;
    }
    .item-da-grid {
        padding: 280px 100px;
        margin: 40px 30px;
    }
    .btn-gerais {
        margin-top: 20px;
        max-height: 400px;
        overflow-y: auto;
        border-radius: 20px;
    }
    .scrollable{
        padding-right: 70px;
        margin-right: 200px;
    }
    .titulos-home {
        font-size: larger;
        margin-top: 16px;
    }
}
