:root {
    --cor-fundo: #C6D7EE;
}

.home-consulta {
    width: 100%;
    height: 93.2vh;
    background-color: var(--cor-fundo);
    position: fixed;
    z-index: -1;
}

.body-layout-consulta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.volta-consulta {
    position: relative;
    top: 1.6em;
    padding: 10px 22px;
    background-color: #004fbd;
    border-radius: 10px;
    transition: 0.2s;
    font-weight: 700;
    cursor: pointer;
}
.volta-consulta:hover {
    transition: 0.2s;
    background-color: #002d6b;
    color: #000000;
}

.titulo-consulta {
    color: #000000;
    font-size: xx-large;
    position: relative;
    top: 80px;
    text-align: center;
    font-weight: bold;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.area-consulta {
    text-align: center;
    width: 60%;
    height: 74vh;
    border-radius: 20px;
    display: flex;
    grid-template-columns: auto 1fr;
    align-items: center;
    flex-direction: row;
    gap: 18px;
    box-shadow: 0px 0px 20px;
}

.grid-consulta {
    display: flex;
    background-color: #003681;
    border-radius: 20px;
    padding: 10px 10px 9.4px 10px;
}

.select-consulta {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 50%;
    margin: 6px 0px;
    border-radius: 10px;
    border-style: none;
    font-weight: bolder;
}

.inputs-consulta {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 100%;
    margin: 1px 0px;
    border-radius: 10px;
    border-style: none;
}
.inputs-consulta::placeholder {
    color: black;
    font-weight: 600;
}

.botao-consulta {
    font-size: large;
    background-color: #95bfff;
    color: #001f4b;
    border-radius: 10px;
    width: 20em;
    margin: 0px 0px 0px 18px;
    transition: 0.2s;
    font-weight: bolder;
    cursor: pointer;
}
.botao-consulta:hover {
    transition: 0.2s;
    background-color: #001636;
    color: #95bfff;
}