:root {
    --cor-fundo: #C6D7EE;
}

.home-consulta {
    width: 100%;
    height: 93.2vh;
    background-color: var(--cor-fundo);
    position: fixed;
    z-index: -1;
}

.body-layout-consulta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.volta-consulta {
    position: relative;
    top: 1.6em;
    padding: 10px 22px;
    background-color: #004fbd;
    border-radius: 10px;
    transition: 0.2s;
    font-weight: 700;
    cursor: pointer;
}
.volta-consulta:hover {
    transition: 0.2s;
    background-color: #002d6b;
    color: #000000;
}

.titulo-consulta {
    color: #ffffff;
    font-size: xx-large;
    position: relative;
    top: 80px;
    text-align: center;
    font-weight: bold;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.area-consulta {
    background-color: #00183a;
    text-align: center;
    width: 60%;
    height: 74vh;
    border-radius: 20px;
    display: flex;
    grid-template-columns: auto 1fr;
    align-items: center;
    flex-direction: row;
    gap: 18px;
    box-shadow: 0px 0px 20px;
}