.home-consulta {
    width: 100%;
    height: 100%;
    height: 93.2vh;
    position: fixed;
    background-color: #00183a;
}

.body-layout-consulta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.volta-consulta {
    margin-right: 20px;
    padding: 16px 40px;
    background-color: #026bff;
    border-radius: 10px;
    transition: 0.2s;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
}
.volta-consulta:hover {
    transition: 0.2s;
    background-color: #002d6b;
    color: #000000;
}

.titulo-consulta {
    color: #d6e7ff;
    font-size: xx-large;
    position: relative;
    top: -66px;
    text-align: center;
    font-weight: bold;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.grid-consulta {
    display: flex;
    margin-top: -30px;
    background-color: #003681;
    border-radius: 20px;
    padding: 10px 10px 9.4px 10px;
    box-shadow: 0px 0px 20px #006aff;
}

.select-consulta {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 50%;
    margin: 6px 18px 6px 0px;
    border-radius: 10px;
    border-style: none;
    font-weight: bolder;
}

.inputs-consulta {
    background-color: #d6e7ff;
    padding: 10px 10px;
    width: 100%;
    margin: 1px 0px;
    border-radius: 10px;
    border-style: none;
}
.inputs-consulta::placeholder {
    color: black;
    font-weight: 600;
}

.botao-consulta {
    font-size: large;
    background-color: #95bfff;
    color: #001f4b;
    border-radius: 10px;
    width: 20em;
    margin: 0px 0px 0px 18px;
    transition: 0.2s;
    font-weight: bolder;
    cursor: pointer;
}
.botao-consulta:hover {
    transition: 0.2s;
    background-color: #001636;
    color: #95bfff;
}

.area-consulta {
    background-color: #003175;
    width: 70%;
    margin-top: 40px;
    border-radius: 20px;
    height: 72vh;
    gap: 18px;
    box-shadow: 0px 0px 20px #006aff;
    max-height: 72vh;
    overflow-y: auto;
}

.area-consulta::-webkit-scrollbar {
    padding-left: 50px;
    width: 10px;
}

.area-consulta::-webkit-scrollbar-track {
    background: #003175;
    border-radius: 10px;
}

.area-consulta::-webkit-scrollbar-thumb {
    background: #2a77e4;
    border-radius: 10px;
}

.area-consulta::-webkit-scrollbar-thumb:hover {
    background: #0000009f;
}
/* Incluindo scroll na tela acima */


.grade-area-consulta {
    background-color: #003175;
    width: 90%;
    margin-top: 40px;
    border-radius: 20px;
    height: 72vh;
    gap: 18px;
    box-shadow: 0px 0px 20px #006aff;
    max-height: 72vh;
    overflow-y: auto;
}

.grade-area-consulta::-webkit-scrollbar {
    padding-left: 50px;
    width: 10px;
}

.grade-area-consulta::-webkit-scrollbar-track {
    background: #003175;
    border-radius: 10px;
}

.grade-area-consulta::-webkit-scrollbar-thumb {
    background: #2a77e4;
    border-radius: 10px;
}

.grade-area-consulta::-webkit-scrollbar-thumb:hover {
    background: #0000009f;
}

