
.body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #00183a;
}

.ponte {
    display: flex;
    flex-direction: row;
    background-color: #C6D7EE;
    border-radius: 20px;
    align-items: center;
    padding-inline: 50px;
    height: 70vh;
}
  
.container-left {
    width: 500px;
    height: 76vh;
    border-radius: 20px;
    margin-right: 160px;
    background: #00398a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px;
}

.container-icon{
    position: fixed;
    margin: 140px 80px 460px 80px;
    filter: drop-shadow(0px 0px 10px);
}

.error-login{
    margin: -10px;
    font-size: 15px;
    color: #f00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.box-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 280px;
}

.input-container {
    position: relative;
}
  
.icon-eye {
    position: absolute;
    top: 56%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
  

.login {
    background-color: #ffffff;
    padding: 10px;
    width: 245px;
    height: 44px;
    border-radius: 10px;
    border-style: none;
}

.input-invalido {
    color: #f00;
    background-color: rgba(255, 0, 0, 0.342);
    border-width: 10px;
    border-color: red;
    padding: 10px;
    width: 245px;
    border-radius: 10px;
}
.input-invalido::placeholder {
    color: #f00;
}

.loginBT {
    background-color: #007CE3;
    color: white;
    font-weight: 700;
    margin-top: 60px;
    margin-right: 20px;
    padding: 0.8rem 3rem 0.8rem 3rem;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
}.loginBT:hover {
    background-color: #78c2ff;
    color: black;
    transition: 0.2s;
}

.registerBT {
    padding: 0.8rem 2.5rem 0.8rem 2.5rem;
    background-color: white;
    font-weight: 700;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
}.registerBT:hover {
    background-color: rgb(189, 189, 189);
    transition: 0.2s;
}

.alterarsenha {
    color: white;
    background-color: #173154;
    margin-right: 150px;
    margin-top: -10px;
    transition: 0.2s;
}

.alterarsenha:hover {
    color: #8da8d6;
    transition: 0.2s;
}

.container-right {
    background-color: rgb(0, 57, 138);
    width: 42vw;
    height: 76vh;
    border-radius: 20px;
    box-shadow: 0px 0px 30px;
    flex-direction: row;
}

.logo-branca {
    display: flex;
    width: 380px;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    filter: drop-shadow(0px 0px 20px);
}


.sobre {
    display: inline-block;
    text-align: justify;
    align-items: center;
    font-size:large;
    padding: 100px;
    color: white;
    margin-bottom: -100px;
}

.titulo-sobre {
    text-align: center;
    margin-bottom: 30px;
    margin-top: -40px;
    font-weight: bold;
    font-size: x-large;
}

.subtitle{
    border-bottom: 2px solid rgb(255, 255, 255);
    animation-delay: 0s;
    animation: typingSubTitle 2.5s steps(40, end) forwards;
}

.content-sobre {
    text-align: justify !important;
    margin-bottom: 8px;
    overflow: hidden;
}

@keyframes typingSubTitle {
    from { width: 0; opacity: 0; border-color: rgb(255, 255, 255);}
    to { width: 20%;  opacity: 100%; border-color: rgb(0, 57, 138);}
}

