:root {
    --cor-fundo: #C6D7EE;
}

.body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-fundo);
}
  
.container-left {
    width: 680px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 100% 100%, 0% 100%);
    background: linear-gradient(-10deg, #173154 46.28%, #004E8F 46.92%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 120px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container-icon{
    position: fixed;
    margin: 140px 80px 514px 80px;
}

.error-login{
    margin: -10px;
    font-size: 15px;
    color: #f00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.box-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 240px;
}

.input-container {
    position: relative;
}
  
.icon-eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
  

.login {
    background-color: #ffffff;
    padding: 10px;
    width: 245px;
    height: 44px;
    border-radius: 10px;
    border-style: none;
}

.input-invalido {
    color: #f00;
    background-color: rgba(255, 0, 0, 0.342);
    border-width: 10px;
    border-color: red;
    padding: 10px;
    width: 245px;
    border-radius: 10px;
}
.input-invalido::placeholder {
    color: #f00;
}

.loginBT {
    background-color: #007CE3;
    color: white;
    margin-top: 60px;
    margin-right: 20px;
    padding: 0.8rem 3rem 0.8rem 3rem;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
}.loginBT:hover {
    background-color: #78c2ff;
    color: black;
    transition: 0.2s;
}

.registerBT {
    padding: 0.8rem 2.5rem 0.8rem 2.5rem;
    background-color: white;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
}.registerBT:hover {
    background-color: rgb(189, 189, 189);
    transition: 0.2s;
}

.alterarsenha {
    color: white;
    background-color: #173154;
    margin-right: 150px;
    margin-top: -10px;
    transition: 0.2s;
}

.alterarsenha:hover {
    color: #8da8d6;
    transition: 0.2s;
}

.container-right {
    background-color: #0E1826;
    margin-top: 108px;
    margin-left: 190px;
    width: 40vw;
    height: 76vh;
    transform: rotate(-11deg);
    border-radius: 20px;
    box-shadow: 0px 0px 30px;
    flex-direction: row;
}

.logo-branca {
    width: 380px;
    margin: auto;
    margin-left: 158px;
    align-items: center;
    transform: rotate(10deg); 
}


.sobre {
    display: inline-block;
    text-align: justify;
    padding: 100px;
    color: white;
    margin-bottom: -120px;
    transform: rotate(10deg);
}

.titulo-sobre {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: x-large;
}

.content-sobre {
    margin-bottom: 10px;
}
