.modal-body {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: rgba(0, 12, 34, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    background-color: #002d6ba9;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(30px);
    padding: 50px;
    border-radius: 20px;
    position: relative;
    min-width: 600px;
    box-shadow: 0px 0px 40px;
}
  
.modal-close {
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
    background: #6d0000;
    border: none;
    font-size: 1em;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.modal-close:hover {
    background: #ff2929;
}

.titulo-modal {
    font-size: x-large;
    font-weight: bold;
    color: white;
}