:root {
    --cor-fundo: #C6D7EE;
}

.main {
    width: 100%;
    position: fixed;
    padding: 80px;
    background-color: var(--cor-fundo);
}

.area-registro {
    background-color: #00183a;
    text-align: center;
    width: 60%;
    height: 163.6vh;
    margin-left: 20%;
    margin-top: -3em;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    box-shadow: 0px 0px 20px;
}

.titulo-principal {
    color: #ffffff;
    font-size: xx-large;
    font-weight: 600;
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 26px;
    margin-left: 404px;
    animation: slide-in 1s ease forwards;
}@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.conteudo-form {
    margin-top: -42px;
    padding-top: 26px;
    background: #00398a;
    margin-inline: 140px;
    height: 100vh;
    border-radius: 20px;
    box-shadow: 0px 0px 20px;
}

.titulo-inputs {
    font-weight: 600;
    color: #ffffff;
    margin-left: 236px;
    display: flex;
}

.inputs-registro {
    background-color: #d6e7ff;
    padding: 14px 10px;
    width: 42%;
    margin: 6px 200px 18px 200px;
    border-radius: 10px;
    border-style: none;
}

.voltar {
    background: #00d9ff;
    font-weight: 700;
    margin-top: 26px;
    padding: 10px 50px;
    margin-right: 60px;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
}.voltar:hover {
    color: white;
    transition: 0.2s;
    background: #00758a;
}

.btn-registro {
    background-color: #09ff5b;
    color: #000000;
    font-weight: 700;
    padding: 10px 40.4px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}.btn-registro:hover {
    transition: 0.2s;
    background-color: #007226;
    color: #09ff5b;
}

.return-login-alert-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.return-login-alert {
    width: 300px;
    background: #fff;
    border-radius: 25px;
    border-width: 4px;
    border-style: solid;
    border-color: #ff9100;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.return-login-alert-body {
    text-align: center;
}

.return-login-alert-button-group {
    margin-top: 20px;
}

.return-login-alert button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.return-login-alert button:nth-child(2) {
    background-color: #007bff;
    color: #fff;
}

.return-login-alert button:nth-child(2):hover {
    background-color: #0057b4;
    color: #fff;
}

.return-login-alert button:nth-child(1) {
    background-color: #b8b8b8;
}

.return-login-alert button:nth-child(1):hover {
    background-color: #808080;
}