:root {
    --cor-fundo: #C6D7EE;
}

.reserva-home {
    width: 100%;
    height: 93.2vh;
    background-color: var(--cor-fundo);
    position: fixed;
    z-index: -1;
}

.reserva-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro-reserva {
    background-color: #0E1826;
    width: 40%;
    height: 65vh;
    margin-top: 2%;
    margin-right: 22%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px;
}

.voltaHome-reserva {
    position: relative;
    top: 42px;
    padding: 10px 15px;
    background-color: #004fbd;
    border-radius: 10px;
    transition: 0.2s;
}
.voltaHome-reserva:hover {
    transition: 0.2s;
    background-color: #002d6b;
    color: #000000;
}

.icon-container-reserva {
    margin-top: 66px;
    margin-right: 280px;
    margin-left: 150px;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}

.large-icon {
    font-size: 20em; /* Tamanho do ícone */
}

.titulo-reserva {
    color: #ffffff;
    font-size: xx-large;
    position: relative;
    top: 110px;
    margin-right: 420px;
    text-align: center;
    font-weight: bold;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.date-reserva {
    margin: 2px;
    margin-left: 20px;
    background-color: #d6e7ff;
    padding: 12px 16px;
    border-radius: 6px;
    border-style: none;
}
.time-reserva {
    margin: 2px;
    margin-left: -36px;
    width: 100px;
    background-color: #d6e7ff;
    padding: 11.5px 16px;
    border-radius: 6px;
    border-style: none;
}

.ajustes-reserva {
    align-items: center;
    margin-top: 100px;
    margin-left: 190px;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(-25px);
    }
}

.titulo-inputs-reserva {
    color: #ffffff;
    margin-top: 12px;
    padding-left:62px;
    text-align: justify;
    font-weight: bold;
}

.datahora-reserva {
    color: #ffffff;
    margin-top: 12px;
    text-align: justify;
}

.titulo-selects-reserva {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
    text-align: justify;
}

.selects-reserva {
    margin: 2px;
    background-color: #d6e7ff;
    padding: 12px 10px;
    border-radius: 6px;
    border-style: none;
}

.inputs-reserva {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.input-individual {
    margin: 10px;
    margin-left: 36px;
    display: flex;
    flex-direction: column;
}

.select-individual {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.descricao-reserva {
    background-color: #0E1826;
    width: 20%;
    height: 65vh;
    margin-top: -30.8%;
    margin-left: 42%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px;
}

.titulo-descricao {
    margin-top: -130%;
    margin-left: 80px;
    font-size: x-large;
    color: white;
    font-weight: bold;
}

.botao-reserva {
    font-size: large;
    background-color: #2A78E4;
    color: #d6e7ff;
    border-radius: 8px;
    width: 140px;
    height: 40px;
    margin-top: 40px;
    margin-left: 132px;
    transition: 0.2s;
    font-weight: bolder;
}
.botao-reserva:hover {
    transition: 0.2s;
    background-color: #002d6b;
    color: #d6e7ff;
}
